html, body {
	height: 100%;
}
.grayscale {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}
.font {
	font-family: 'Roboto', sans-serif;
}
.no-flow {
	overflow: hidden;
}
.no-flow.content-img {
	display: inline-block;
}
.no-flow img {
	transition-duration: .40s;
}
.no-flow:hover img {
	transform: scale(1.2, 1.2) rotate(-10deg);
}